@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
   --text-color: #32FFD6;
   --isi-color: #A0A0A0;
   --text-kotak: #191A1E;
   --text-p: #d1d5db;
}

*,
body {
   margin: 0;
   padding: 0;
   /* overflow-x: hidden; */
 
}

body {
   background-color: #191A1E;
   font-family: 'Inter', sans-serif;
   color: white;
}

.container {
   width: 100%;
   height: 100vh;
   background-color: #191A1E;
   text-align: center;

}

.containers {
   padding: 25px;
   max-width: 800px;
   /* background-color: red; */
   margin: 50px auto;
}

.perfil {
   width: 135px;
   height: 135px;
   margin: 50px auto;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

h1 {
   font-size: 28px;
   color: var(--text-color);
   padding-bottom:7px;

}

.text{
   margin-top: -45px;
}

h3 {
   color: var(--isi-color);
}

p {
   color: var(--text-p);
   line-height: 1.5;
   font-size: 18px;
   font-weight: lighter;
   font-family: 'Open Sans', sans-serif;
   
}

.link {
   display: grid;
   justify-content: center;
   align-items: center;
}

.spasi-kotak {
   margin-bottom: 16px;
}

.kotak {
   width: 250px;
   height: 100px;
   background-color: var(--text-color);
   
   border-radius: 11px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   -ms-border-radius: 11px;
   -o-border-radius: 11px;

   transition: .4s;
   -webkit-transition: .4s;
   -moz-transition: .4s;
   -ms-transition: .4s;
   -o-transition: .4s;
}

.kotak h2 {
   line-height: 100px;
   color: var(--text-kotak);
}

/* .kotak-hiasan {
   width: 10%;
   height: 150px;
   background-color: var(--text-color);
   position: absolute;
   margin-top: 50px;
}

.kotak-kanan {
   right: 0;

   background-color: var(--text-kotak)
}
 */

.contact {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
}


.contact a img {
   width: 25px;
   margin: 8px;

}

a {
   text-decoration: none;
}


.link .kotak:hover {
   
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
}

/* about */


.luar-kembali {
   /* display: fixed; */
   position: fixed;
   bottom: 0;
   /* width: 100%;
   height: 200px;
   background-color:red */
   margin-bottom: 20px;
}


.kembali img {
   width: 50px;
   height: 50px;
}


/* CERTI */



.thumbnail img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.jumbo {
    width: 100%;
    margin-bottom: 50px;
}
.thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.thumbnail img {
    width: 130px;
    border: 1px solid #3e3e3e;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn .5s forwards;
    -webkit-animation: fadeIn .5s forwards;
}

.active {
    opacity: 0.5;
}

/*  */
ul li {
   margin-bottom: 15px;
}

a {
   color: white;
   text-decoration: underline var(--text-color);
}

hr {
   opacity: .2;
   margin-top: 50px;
   margin-bottom: 50px;
}

.waren {
   width: 100%;
   margin: 20px 0;
}


@media screen and (min-width: 768px) {
   .perfil {
   width: 135px;
   height: 135px;
   }

   /* .kotak-hiasan {
   width: 15%;
   height: 300px;
   background-color: var(--text-color);
   position: absolute;
   margin-top: 50px
}

.kotak-kanan {
   right: 0;

   background-color: var(--text-kotak)
} */

/* about */
.kembali img {
   width: 80px;
   height: 80px;
}




}